* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100dvh;
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}
form p {
  color: white;
}
.calculator {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #3b82f6;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: background 0.2s ease, transform 0.1s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.calculator form input:hover {
  background-color: #60a5fa;
  transform: scale(1.05);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  background: transparent;
  color: #ffffff;
  box-shadow: none;
}

form input.equal {
  width: 145px;
  background-color: #2563eb;
  color: white;
}

form input.operator {
  background-color: #1e40af;
  color: #a5f3fc;
}
